.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
    margin: 0 auto; /* Menetapkan margin otomatis di sisi kiri dan kanan */
    max-width: 1200px; /* Menetapkan lebar maksimum untuk grid container */
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 351px;
    height: 296px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px; /* Sudut melengkung untuk grid item */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); /* Menambahkan efek bayangan */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transisi halus untuk transformasi dan bayangan */
  }
  
  .grid-item img {
    width: 351px;
    height: 184px;
    object-fit: cover;
    border-radius: 20px; /* Sudut melengkung untuk gambar */
  }
  
  .grid-item:hover {
    transform: translateY(-5px); /* Menggeser item ke atas sedikit ketika di-hover */
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.7); /* Bayangan lebih pekat dan lebih besar */
  }
  